In [1]:
from metrics import *
import pandas as pd

# Normal results

In [2]:
exp = "normal"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")
results

                          PL          CNN            ABC         CNN_ES  \
brown  MSE_r    3.19 (20.44)  0.43 (0.89)    1.61 (1.79)    0.38 (0.85)
       MSE_s     0.13 (0.22)  0.02 (0.04)    0.26 (0.32)    0.01 (0.02)
       MSE_ext   0.71 (1.20)  0.19 (0.34)    1.33 (1.67)    0.15 (0.25)
       IS_r                -            -    4.59 (3.03)    3.03 (6.43)
       IS_s                -            -    3.43 (6.53)    0.55 (0.49)
       IIS                 -            -  53.83 (93.44)  10.66 (14.19)
       ES                  -            -    0.85 (0.43)    0.34 (0.32)
       ES2                 -            -    1.92 (0.68)    1.89 (0.78)
powexp MSE_r     8.35 (6.86)  0.47 (0.96)    1.60 (1.49)    0.66 (1.24)
       MSE_s     0.78 (0.85)  0.03 (0.05)    0.19 (0.17)    0.05 (0.08)
       MSE_ext   0.29 (0.17)  0.01 (0.02)    0.05 (0.04)    0.02 (0.03)
       IS_r                -            -    4.30 (0.33)    3.45 (4.05)
       IS_s                -            -    1.47 (0.26)    1.35 (2.21)
       IIS                 -            -    4.22 (3.28)    2.98 (3.67)
       ES                  -            -    0.82 (0.32)    0.46 (0.36)
       ES2                 -            -    0.45 (0.16)    0.47 (0.14)

                CNN_ES_direct
brown  MSE_r                -
       MSE_s                -
       MSE_ext    0.16 (0.27)
       IS_r                 -
       IS_s                 -
       IIS      13.71 (23.00)
       ES                   -
       ES2        0.74 (0.59)
powexp MSE_r                -
       MSE_s                -
       MSE_ext    0.01 (0.02)
       IS_r                 -
       IS_s                 -
       IIS        3.58 (5.09)
       ES                   -
       ES2        0.23 (0.14)

In [3]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.2f}".format,
))

\begin{tabular}{lllllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{9}{*}{brown} & MSE_r & 3.19 (20.44) & 0.47 (0.94) & 1.61 (1.79) & 0.42 (0.74) & - \\
 & MSE_s & 0.13 (0.22) & 0.02 (0.04) & 0.26 (0.32) & 0.03 (0.05) & - \\
 & MSE_ext & 0.71 (1.20) & 0.20 (0.36) & 1.33 (1.67) & 0.18 (0.28) & 0.16 (0.27) \\
 & KL & - & - & - & - & - \\
 & IS_r & - & - & 4.59 (3.03) & 2.81 (3.51) & - \\
 & IS_s & - & - & 3.43 (6.53) & 0.90 (1.55) & - \\
 & IIS & - & - & 53.83 (93.44) & 11.14 (10.67) & 13.71 (23.00) \\
 & ES & - & - & 0.85 (0.43) & 0.37 (0.28) & - \\
 & ES2 & - & - & 1.92 (0.68) & 1.89 (0.81) & 0.74 (0.59) \\
\cline{1-7}
\multirow[t]{9}{*}{powexp} & MSE_r & 8.35 (6.86) & 0.67 (1.28) & 1.60 (1.49) & 0.90 (1.91) & - \\
 & MSE_s & 0.78 (0.85) & 0.11 (0.15) & 0.19 (0.17) & 0.05 (0.08) & - \\
 & MSE_ext & 0.29 (0.17) & 0.02 (0.04) & 0.05 (0.04) & 0.02 (0.03) & 0.01 (0.02) \\
 & KL & - & - & - & - & - \\
 & IS_r & - & - & 4.30 (0.33) & 4.88 (9.83) & - \\
 & IS_s & - & - & 1.47 (0.26) & 1.38 (2.32) & - \\
 & IIS & - & - & 4.22 (3.28) & 3.71 (8.89) & 3.58 (5.09) \\
 & ES & - & - & 0.82 (0.32) & 0.51 (0.43) & - \\
 & ES2 & - & - & 0.45 (0.16) & 0.46 (0.15) & 0.23 (0.14) \\
\cline{1-7}
\bottomrule
\end{tabular}

# Outside parameters

In [3]:
exp = "outside_parameters"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")
results

                          PL           CNN              ABC         CNN_ES  \
brown MSE_r    13.07 (29.13)  9.68 (10.65)    18.01 (15.15)   9.47 (10.15)
      MSE_s      0.23 (0.55)   0.06 (0.10)      0.52 (0.58)    0.03 (0.06)
      MSE_ext    0.91 (1.46)   0.78 (0.83)      2.65 (2.48)    0.55 (0.52)
      IS_r                 -             -    87.49 (68.32)  59.76 (56.30)
      IS_s                 -             -     9.12 (12.24)    1.22 (1.76)
      IIS                  -             -  111.21 (100.04)  54.54 (54.08)
      ES                   -             -      3.25 (1.75)    2.24 (1.63)
      ES2                  -             -      2.88 (0.99)    2.75 (1.17)

               CNN_ES_direct
brown MSE_r                -
      MSE_s                -
      MSE_ext    0.76 (0.65)
      IS_r                 -
      IS_s                 -
      IIS      92.36 (78.12)
      ES                   -
      ES2        2.03 (1.16)

In [5]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{lllllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{9}{*}{brown} & MSE_r & 13.07 (29.13) & 12.73 (11.93) & 18.01 (15.15) & 10.11 (9.92) & - \\
 & MSE_s & 0.23 (0.55) & 0.06 (0.08) & 0.52 (0.58) & 0.07 (0.16) & - \\
 & MSE_ext & 0.91 (1.46) & 0.92 (0.94) & 2.65 (2.48) & 0.89 (0.88) & 0.76 (0.65) \\
 & KL & - & - & - & - & - \\
 & IS_r & - & - & 87.49 (68.32) & 57.19 (55.65) & - \\
 & IS_s & - & - & 9.12 (12.24) & 2.51 (4.66) & - \\
 & IIS & - & - & 111.21 (100.04) & 77.66 (82.78) & 92.36 (78.12) \\
 & ES & - & - & 3.25 (1.75) & 2.35 (1.58) & - \\
 & ES2 & - & - & 2.88 (0.99) & 2.89 (1.18) & 2.03 (1.16) \\
\cline{1-7}
\bottomrule
\end{tabular}

# Outside model

## Whitmat scenario

In [4]:
exp = "outside_model"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "whitmat_results_table.pkl")
results

                          PL          CNN            ABC         CNN_ES  \
whitmat MSE_r    9.61 (7.28)  2.37 (2.82)    1.70 (1.47)    1.76 (1.87)
        MSE_s    0.94 (0.89)  0.17 (0.17)    0.17 (0.16)    0.16 (0.16)
        MSE_ext  0.67 (0.42)  0.03 (0.04)    0.17 (0.19)    0.04 (0.06)
        IS_r               -            -    4.31 (0.41)  12.38 (14.42)
        IS_s               -            -    1.46 (0.29)    4.68 (5.57)
        IIS                -            -  13.80 (16.79)   7.21 (12.46)
        ES                 -            -    0.83 (0.32)    0.92 (0.54)
        ES2                -            -    0.84 (0.58)    0.66 (0.42)

                 CNN_ES_direct
whitmat MSE_r                -
        MSE_s                -
        MSE_ext    0.05 (0.09)
        IS_r                 -
        IS_s                 -
        IIS      13.12 (18.78)
        ES                   -
        ES2        0.45 (0.46)

In [7]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{lllllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{9}{*}{whitmat} & MSE_r & 9.61 (7.28) & 1.11 (1.32) & 1.70 (1.47) & 3.91 (4.76) & - \\
 & MSE_s & 0.94 (0.89) & 0.18 (0.18) & 0.17 (0.16) & 0.20 (0.20) & - \\
 & MSE_ext & 0.67 (0.42) & 0.06 (0.09) & 0.17 (0.19) & 0.02 (0.05) & 0.05 (0.09) \\
 & KL & - & - & - & - & - \\
 & IS_r & - & - & 4.31 (0.41) & 16.35 (17.59) & - \\
 & IS_s & - & - & 1.46 (0.29) & 6.03 (6.69) & - \\
 & IIS & - & - & 13.80 (16.79) & 3.28 (5.25) & 13.12 (18.78) \\
 & ES & - & - & 0.83 (0.32) & 1.24 (0.77) & - \\
 & ES2 & - & - & 0.84 (0.58) & 0.63 (0.36) & 0.45 (0.46) \\
\cline{1-7}
\bottomrule
\end{tabular}

## Smith scenario

In [5]:
exp = "outside_model"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "brown_results_table.pkl")
results

                        PL          CNN             ABC       CNN_ES  \
brown MSE_r    0.23 (1.12)  0.15 (0.20)     0.89 (1.11)  0.11 (0.21)
      MSE_s    0.16 (0.39)  0.05 (0.05)     0.81 (0.68)  0.02 (0.02)
      MSE_ext  0.25 (0.84)  0.08 (0.07)     1.83 (2.31)  0.04 (0.04)
      IS_r               -            -     4.22 (0.89)  1.43 (1.34)
      IS_s               -            -    9.28 (14.58)  2.18 (1.20)
      IIS                -            -  79.17 (146.55)  3.36 (3.56)
      ES                 -            -     0.89 (0.40)  0.20 (0.13)
      ES2                -            -     2.11 (0.40)  0.62 (0.34)

              CNN_ES_direct
brown MSE_r               -
      MSE_s               -
      MSE_ext   0.03 (0.03)
      IS_r                -
      IS_s                -
      IIS       3.87 (2.98)
      ES                  -
      ES2       0.35 (0.14)

In [4]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{lllllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 0.23 (1.12) & 0.06 (0.09) & 0.89 (1.11) & 0.33 (1.56) & - \\
 & MSE_s & 0.16 (0.39) & 0.18 (0.10) & 0.81 (0.68) & 0.04 (0.06) & - \\
 & MSE_ext & 0.25 (0.84) & 0.10 (0.07) & 1.83 (2.31) & 0.09 (0.19) & 0.03 (0.03) \\
 & IS_r & - & - & 4.22 (0.89) & 1.98 (1.90) & - \\
 & IS_s & - & - & 9.28 (14.58) & 2.78 (2.00) & - \\
 & IIS & - & - & 79.17 (146.55) & 4.37 (4.59) & 3.87 (2.98) \\
 & ES & - & - & 0.89 (0.40) & 0.28 (0.25) & - \\
 & ES2 & - & - & 2.11 (0.40) & 0.67 (0.35) & 0.35 (0.14) \\
\cline{1-7}
\bottomrule
\end{tabular}

In [20]:
n_test = 250
model = "brown"
model2 = "brown"
exp = "outside_model"
data_path = f'../data/{exp}/data/'
results_path = f'../data/{exp}/results/'
 
true_parameters = np.load(data_path+model+"_test_params.npy")[0:n_test]
true_parameters[:,0] = np.sqrt(2 * true_parameters[:,0])

# Load normal network
cnn = np.load(results_path+model+"_cnn.npy")[0:n_test]

In [21]:
mse = get_mse(true_parameters, cnn, sd = True)
imse = get_discrete_imse(model, true_parameters = true_parameters, estimate_parameters = cnn, sd = True, model2 = model2)
print(f"{mse[0][0]:.2f} ({mse[1][0]:.2f})")
print(f"{mse[0][1]:.2f} ({mse[1][1]:.2f})")
print(f"{imse[0]:.2f} ({imse[1]:.2f})")

0.15 (0.20)
0.05 (0.05)
0.08 (0.07)

# All data

In [11]:
exp = "all_models_small"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")[["CNN", "CNN_ES", "CNN_ES_direct"]]
results

                        CNN         CNN_ES  CNN_ES_direct
brown  MSE_r    0.82 (1.54)    0.70 (1.21)              -
       MSE_s    0.15 (0.15)    0.06 (0.08)              -
       MSE_ext  0.99 (1.33)    0.43 (0.80)    0.29 (0.45)
       IS_r               -    4.12 (7.55)              -
       IS_s               -    1.21 (1.64)              -
       IIS                -  20.46 (37.75)  20.96 (33.60)
       ES                 -    0.50 (0.40)              -
       ES2                -    1.96 (1.14)    1.00 (0.79)
powexp MSE_r    0.67 (1.18)    0.65 (1.23)              -
       MSE_s    0.16 (0.16)    0.03 (0.05)              -
       MSE_ext  0.03 (0.04)    0.02 (0.02)    0.03 (0.04)
       IS_r               -    3.90 (7.19)              -
       IS_s               -    0.97 (1.17)              -
       IIS                -    3.34 (8.01)    5.80 (8.16)
       ES                 -    0.47 (0.39)              -
       ES2                -    0.45 (0.18)    0.35 (0.22)

In [12]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{lllll}
\toprule
 &  & CNN & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 0.82 (1.54) & 0.70 (1.21) & - \\
 & MSE_s & 0.15 (0.15) & 0.06 (0.08) & - \\
 & MSE_ext & 0.99 (1.33) & 0.43 (0.80) & 0.29 (0.45) \\
 & IS_r & - & 4.12 (7.55) & - \\
 & IS_s & - & 1.21 (1.64) & - \\
 & IIS & - & 20.46 (37.75) & 20.96 (33.60) \\
 & ES & - & 0.50 (0.40) & - \\
 & ES2 & - & 1.96 (1.14) & 1.00 (0.79) \\
\cline{1-5}
\multirow[t]{8}{*}{powexp} & MSE_r & 0.67 (1.18) & 0.65 (1.23) & - \\
 & MSE_s & 0.16 (0.16) & 0.03 (0.05) & - \\
 & MSE_ext & 0.03 (0.04) & 0.02 (0.02) & 0.03 (0.04) \\
 & IS_r & - & 3.90 (7.19) & - \\
 & IS_s & - & 0.97 (1.17) & - \\
 & IIS & - & 3.34 (8.01) & 5.80 (8.16) \\
 & ES & - & 0.47 (0.39) & - \\
 & ES2 & - & 0.45 (0.18) & 0.35 (0.22) \\
\cline{1-5}
\bottomrule
\end{tabular}

In [7]:
exp = "all_models_large"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")[["CNN", "CNN_ES", "CNN_ES_direct"]]
results

                        CNN         CNN_ES  CNN_ES_direct
brown  MSE_r    0.64 (1.24)    0.58 (1.07)              -
       MSE_s    0.04 (0.05)    0.04 (0.06)              -
       MSE_ext  0.34 (0.53)    0.36 (0.66)    0.17 (0.30)
       IS_r               -    3.73 (6.63)              -
       IS_s               -    0.95 (0.75)              -
       IIS                -  16.65 (26.83)  15.39 (32.37)
       ES                 -    0.44 (0.37)              -
       ES2                -    1.94 (1.09)    0.74 (0.66)
powexp MSE_r    0.65 (1.15)    0.70 (1.27)              -
       MSE_s    0.05 (0.06)    0.03 (0.05)              -
       MSE_ext  0.02 (0.02)    0.02 (0.02)    0.01 (0.02)
       IS_r               -    3.81 (7.70)              -
       IS_s               -    0.87 (0.67)              -
       IIS                -    2.73 (5.60)    2.76 (3.63)
       ES                 -    0.49 (0.40)              -
       ES2                -    0.46 (0.19)    0.21 (0.16)

In [8]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{lllll}
\toprule
 &  & CNN & CNN_ES & CNN_ES_direct \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 0.64 (1.24) & 0.58 (1.07) & - \\
 & MSE_s & 0.04 (0.05) & 0.04 (0.06) & - \\
 & MSE_ext & 0.34 (0.53) & 0.36 (0.66) & 0.17 (0.30) \\
 & IS_r & - & 3.73 (6.63) & - \\
 & IS_s & - & 0.95 (0.75) & - \\
 & IIS & - & 16.65 (26.83) & 15.39 (32.37) \\
 & ES & - & 0.44 (0.37) & - \\
 & ES2 & - & 1.94 (1.09) & 0.74 (0.66) \\
\cline{1-5}
\multirow[t]{8}{*}{powexp} & MSE_r & 0.65 (1.15) & 0.70 (1.27) & - \\
 & MSE_s & 0.05 (0.06) & 0.03 (0.05) & - \\
 & MSE_ext & 0.02 (0.02) & 0.02 (0.02) & 0.01 (0.02) \\
 & IS_r & - & 3.81 (7.70) & - \\
 & IS_s & - & 0.87 (0.67) & - \\
 & IIS & - & 2.73 (5.60) & 2.76 (3.63) \\
 & ES & - & 0.49 (0.40) & - \\
 & ES2 & - & 0.46 (0.19) & 0.21 (0.16) \\
\cline{1-5}
\bottomrule
\end{tabular}